* {
    margin: 0px;
    color: white;
}

body {
    background-color: black;
}

#title1 {
    text-align: center;
    margin-top: 10px;
}

#title2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.pf { 
    margin: 20px 40px 20px 40px;
    text-align: justify;
}

.foto {
    border-radius: 50%;
    width: 80%;
    align-content: center;    
}

#fot {
    display: flex;
    justify-content: center;
}
